/* Universal Styles */

html {
  font-family: serif;
  font-size: 14px;
}

body {
  background-color: #d2d2d2
}

header,
footer{
  max-height: 32px;
  width: 100%;
}

section {
  height: auto;
  width: 100%;
}

/* Flexbox Styles */

.wide {
  height: 100%;
  width: 60%;
}

.narrow {
  height: 100%;
  width: 40%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-height: 100%;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

/* Header Styles */

header {
  height: 64px;
  background-color: steelblue;
}

/* Banner Styles */

.banner {
  position: relative;
  top: 32px;
  background-color: white;
}

.banner .image img {
  max-width: 93.75%;
  height: auto;
  margin: 4.167% 3.125%;
}

.banner .engage {
  background-color: steelblue;
}

/* Spotlight Styles */

.spotlight {

}

.spotlight .image {
  background-color: white;
}

.spotlight .highlight {
  background-color: lightgray;
}

.spotlight .highlight .card {
  background-color: steelblue;
}

/* Programs Styles */

.programs{
  background-color: white;
}

.programs .title {

}

.programs .container {

}

.programs .container .program {

}

/* Thesis Styles */

.thesis {

}

.thesis .video {

}

.thesis .highlight {

}

.thesis .highlight .card {

}

/* Footer Styles */

footer{

}
